<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PrinterCalc</display-name>
  <welcome-file-list>
    <welcome-file>UserSelect.html</welcome-file>
    <welcome-file>worker.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WorkerServlet</display-name>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>com.calcServlets.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/PrinterCalc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.calcServlets.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.calcServlets.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerBack</display-name>
    <servlet-name>WorkerBack</servlet-name>
    <servlet-class>com.calcServlets.WorkerBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerBack</servlet-name>
    <url-pattern>/WorkerBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummServlet</display-name>
    <servlet-name>SummServlet</servlet-name>
    <servlet-class>com.calcServlets.SummServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummServlet</servlet-name>
    <url-pattern>/Summ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSumm</display-name>
    <servlet-name>AdminSumm</servlet-name>
    <servlet-class>com.calcServlets.AdminSumm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSumm</servlet-name>
    <url-pattern>/AdminSumm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBack</display-name>
    <servlet-name>AdminBack</servlet-name>
    <servlet-class>com.calcServlets.AdminBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBack</servlet-name>
    <url-pattern>/AdminBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelect</display-name>
    <servlet-name>UserSelect</servlet-name>
    <servlet-class>com.calcServlets.UserSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelect</servlet-name>
    <url-pattern>/UserSelect</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ExitButton</display-name>
    <servlet-name>ExitButton</servlet-name>
    <servlet-class>com.calcServlets.ExitButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitButton</servlet-name>
    <url-pattern>/ExitButton</url-pattern>
  </servlet-mapping>
</web-app>